.container {
    border: 2px solid black;
    padding: 20px;
}
@media (min-width: 1025px) {
    .container {
    border-width: 5px; 
    }
}

    
@media (max-width: 1024px) {
    .container {
    border-width: 2px; 
    }  
}