.container  {
display: block; /* Display padrão para telas menores */
    padding: 20px;
    background-color: lightgray;
    
}   
@media (max-width: 768px ) {
    .container {
       display: flex;
      
    }
}